@use "./imports" as *;

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);
  z-index: 2;
  top: 0;
  position: sticky;
  width: 100%;
  padding: 1.75rem 1rem;

  @media only screen and (min-width: 768px) {
    padding: 1.75rem 2rem;
  }

  @media only screen and (min-width: 1024px) {
    padding: 1.75rem 10rem;
  }

  & img {
    height: 2.75rem;

    @media only screen and (min-width: 1200px) {
      height: calc(2.75rem * 1.5);
    }
  }

  & nav {
    @include primary-button(var(--icon), var(--radius-max));
    width: 2.75rem;
    height: 2.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    & span {
      width: 40%;
      border: 1px solid var(--color-white);
      transition: var(--transition-slow);
      position: absolute;

      &:nth-child(1) {
        top: 1rem;
      }

      &:nth-child(2) {
        bottom: 1rem;
      }
    }

    &:hover {
      @include primary-button-hover;
    }

    &:active {
      border: 1px solid var(--n400);
    }

    &.active {
      & span {
        transition: var(--transition-slow);

        &:nth-child(1) {
          transform: rotate(45deg);
          top: 48.14%;
        }

        &:nth-child(2) {
          margin: 0;
          transform: rotate(-45deg);
          bottom: 48.14%;
        }
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    nav {
      width: calc(2.75rem * 1.5);
      height: calc(2.75rem * 1.5);

      & span {
        border: 1.75px solid var(--color-white);

        &:nth-child(1) {
          top: calc(1rem * 1.5);
        }

        &:nth-child(2) {
          bottom: calc(1rem * 1.5);
        }
      }
    }
  }
}

body > ul {
  top: -100vh;
  height: calc(100vh - 6.25rem);
  opacity: 0.9;
  transition: var(--transition-slow);
  background-color: var(--bg-color);
  position: fixed;
  left: 0;
  width: 100%;
  margin-top: 6.25rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 0;

  & li {
    opacity: 0;
    transition: var(--transition-slow);
    @include text-button;
    list-style-type: none;

    &:hover {
      @include text-button-hover;
      color: var(--n400);
    }

    &:active {
      color: var(--color-white);
    }
  }

  &.menuOpen {
    transition: var(--transition-slow);
    top: 0;

    & li {
      opacity: 1;
      transition: var(--transition-slow);
    }
  }
}

main {
  & section#header {
    height: calc(100svh - 6.25rem);
    padding-top: 2.75rem;
    position: relative;

    @media only screen and (min-width: 768px) {
      padding-top: 5.75rem;
    }

    @media only screen and (min-width: 1024px) {
      padding-top: 8rem;
    }

    @media only screen and (min-width: 1200px) {
      padding-top: 6rem;
      height: calc(100lvh - 8.3125rem);
    }

    & h1 {
      margin: 2rem 0 2rem;
      max-width: 350px;
      display: flex;
      flex-direction: column;

      &::after {
        content: "";
        margin-top: 0.75rem;
        border: 1px solid var(--primary-color);
        width: 90%;
      }
    }

    & p {
      @include p2-font;
      max-width: 440px;
    }

    @media only screen and (min-width: 580px) {
      & h1 {
        max-width: 550px;
      }

      & p {
        max-width: 600px;
      }
    }

    @media only screen and (min-width: 1200px) {
      & h1 {
        max-width: 620px;
      }

      & p {
        max-width: 620px;
      }
    }

    a.scroll-link {
      @include p2-font;
      @include text-button;
      display: flex;
      align-items: center;
      width: fit-content;

      svg {
        fill: var(--color-white);
        margin-left: 5px;
        transition: var(--transition-slow);
      }

      &:hover {
        @include text-button-hover;

        svg {
          fill: var(--primary-color);
          margin-left: 10px;
          transition: var(--transition-slow);
        }
      }

      &:active {
        color: var(--n100);

        & svg {
          fill: var(--n100);
        }
      }
    }
  }

  @keyframes scrollwheel {
    0%,
    50% {
      top: 0;
      opacity: 1;
    }

    80% {
      top: 0.5rem;
      opacity: 0;
    }

    90% {
      top: 0;
      opacity: 0;
    }

    95% {
      top: 0;
      opacity: 0.5;
    }

    100% {
      top: 0;
      opacity: 1;
    }
  }

  & a.scroll-mouse {
    border: 2px solid var(--color-white);
    padding: 0.75rem 1rem 1.25rem;
    border-radius: var(--radius-min);
    position: absolute;
    left: calc(50% - 1.25rem);
    bottom: 2rem;
    transition: var(--transition-fast);
    display: none;

    &:hover {
      cursor: pointer;
    }

    &:active {
      border: 2px solid var(--n100);
    }

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      background-color: var(--color-white);
      width: 0.25rem;
      height: 0.75rem;
      border-radius: var(--radius-min);
      animation: scrollwheel 3s infinite;
      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;
      transition: var(--transition-fast);
    }

    &:active::before {
      border: 2px solid var(--n100);
    }

    & svg {
      position: absolute;
      display: inline-block;
      width: 12px;
      height: 21px;
      margin-top: 2px;
      transform: rotateZ(90deg);
      fill: var(--color-white);
      left: calc(50% - 6px);
      top: 3rem;
      transition: var(--transition-slow);
    }

    &:hover svg,
    :active svg {
      margin-top: 7px;
      fill: var(--primary-color);
      cursor: pointer;
    }

    @media only screen and (min-width: 1024px) {
      display: block;
    }
  }

  @keyframes swipe-motion {
    0% {
      top: 2rem;
      right: -3rem;
      transform: rotate(-55deg);
      opacity: 0;
    }

    25% {
      top: 0.25rem;
      right: -2rem;
      transform: rotate(-60deg);
      opacity: 1;
    }

    50% {
      top: 0.25rem;
      right: -2.25rem;
      transform: rotate(-120deg);
      transform-origin: 29px 20px;
    }

    65% {
      opacity: 1;
    }

    75%,
    98% {
      top: -3rem;
      right: -2.25rem;
      transform: rotate(-20deg);
      transform-origin: center;
    }

    98% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes swiped {
    0%,
    50% {
      top: 0;
      opacity: 1;
    }

    80% {
      top: -2rem;
      opacity: 0;
    }

    90% {
      top: 0;
      opacity: 0;
    }

    95% {
      top: 0;
      opacity: 0.5;
    }

    100% {
      top: 0;
      opacity: 1;
    }
  }

  & a.swipe-finger {
    position: absolute;
    left: calc(50% - 2.5rem);
    bottom: 10rem;
    transition: var(--transition-fast);
    display: block;

    & > span {
      width: 1.75rem;
      height: 1.75rem;
      border: 2px solid var(--color-white);
      border-radius: var(--radius-max);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: calc(50% - 0.5rem);
      top: 0.375rem;
      animation: swiped 4s infinite;
      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;

      &:active {
        border: 2px solid var(--n100);
      }

      & > span {
        width: 0.95rem;
        height: 0.95rem;
        background-color: var(--n50);
        border-radius: var(--radius-max);

        &:active {
          background-color: var(--n100);
        }
      }
    }

    & svg {
      position: relative;
      top: 2rem;
      right: -3rem;
      width: 5rem;
      height: auto;
      fill: var(--color-white);
      transform: rotate(-30deg);
      animation: swipe-motion 4s infinite;
      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;
    }

    &:hover svg,
    :active svg {
      fill: var(--n100);
    }

    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }

  section#team {
    height: fit-content;
    padding-top: 6.25rem;

    & > h2 {
      margin: 2rem 0 2rem;
      max-width: 350px;
      display: flex;
      flex-direction: column;
    }

    & h3 {
      text-align: center;
      font-weight: 100;
    }

    & > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 0.5rem;
      margin-bottom: 2rem;

      & li {
        text-align: center;
        border: 2px solid var(--n800);
        background-color: #3737375e;
        padding: 12px 9px;
        min-width: 3.5rem;
        @include p1-font;
        list-style: none;
        border-radius: 10px;
        transition: var(--transition-slow);
        cursor: pointer;

        &:active {
          background-color: var(--n800);
        }
      }
    }

    & div#team-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      padding-bottom: 8rem;

      @media only screen and (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media only screen and (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
      }

      & div.card {
        border: 2px solid var(--color-white);
        background-color: #37373725;
        border-radius: var(--radius-min);
        box-shadow: none;
        padding: 1rem;
        transition: var(--transition-slow);

        &:hover {
          border: 2px solid var(--primary-color);
        }

        & div.card-main {
          display: flex;

          & img {
            height: 150px;
            width: 150px;
            border-radius: var(--radius-max);
            margin: 0 1rem 1rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            @include p2-font;
          }

          & article {
            display: flex;
            flex-direction: column;
            justify-content: center;

            & h3 {
              margin: 0;
            }

            & h4 {
              @include h5-font;
              margin-top: 1rem;
            }
          }
        }

        & div.card-details {
          & p {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            &:nth-child(1) {
              @include p1-font;
              text-align: center;
            }

            &:nth-child(2) {
              @include p2-font;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

footer {
  h2 {
    @include p1-font;
    margin-bottom: 2rem;

    @media only screen and (min-width: 1200px) {
      padding: 0 6rem;
    }

    @media only screen and (min-width: 1600px) {
      padding: 0 14rem;
    }
  }

  section:nth-child(2) {
    @media only screen and (min-width: 1200px) {
      padding: 0 6rem;
    }

    @media only screen and (min-width: 1600px) {
      padding: 0 14rem;
    }

    & ul {
      height: 100%;

      & li {
        list-style-type: none;
        margin-bottom: 2rem;

        & a {
          @include text-button;
          @include h1-font;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;

          & svg {
            display: block;
            height: var(--h1-size);
          }
        }
      }

      @media only screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          "li1 li5"
          "li2 li6"
          "li3 li7"
          "li4 .";

        & li {
          &:nth-child(1) {
            grid-area: li1;
          }

          &:nth-child(2) {
            grid-area: li2;
          }

          &:nth-child(3) {
            grid-area: li3;
          }

          &:nth-child(4) {
            grid-area: li4;
          }

          &:nth-child(5) {
            grid-area: li5;
          }

          &:nth-child(6) {
            grid-area: li6;
          }

          &:nth-child(7) {
            grid-area: li7;
          }

          & a {
            width: fit-content;

            &:active {
              color: var(--n100);
            }

            &::after {
              content: "";
              width: 0px;
              height: 2px;
              display: block;
              transition: var(--transition-slow);
              background: var(--primary-color);
              position: absolute;
              bottom: -0.5rem;
              left: 0;
            }

            &:hover::after {
              width: 100%;
            }

            & svg {
              display: none;
            }
          }
        }
      }
    }
  }

  section:nth-child(3) {
    border-top: 2px solid var(--n800);
    padding: 2rem;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;

      & a:first-child {
        margin-right: auto;
      }

      & a:nth-child(6) {
        margin-left: auto;
      }
    }

    @media only screen and (min-width: 1024px) {
      padding: 2rem 0;
    }

    @media only screen and (min-width: 1200px) {
      padding: 2rem;
    }

    & a {
      margin-bottom: 2rem;
      @include text-button;

      &:hover {
        @include text-button-hover;
      }

      &:active {
        color: var(--n100);
      }
    }
  }
}
